services:
  mongod:
    image: mongodb/mongodb-community-server:latest
    container_name: mongod-community-db
    command: >-
      mongod
      --config /etc/mongod.conf
      --replSetMember=mongod.search-community-net:27017
    ports:
      - 27017:27017
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - mongod_data:/data/db
      - ./mongod.conf:/etc/mongod.conf:ro
      - ./init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
    networks:
      - search-community-network

  mongot:
    image: mongodb/mongodb-community-search:latest
    container_name: mongot-community-search
    networks:
      - search-community-network
    volumes:
      - mongot_data:/data/mongot
      - ./mongot.conf:/mongot-community/config.default.yml
      - ./pwfile:/mongot-community/pwfile:ro
    depends_on:
      - mongod
    ports:
      - 27028:27028 # Query server port from config
      - 9946:9946 # Metrics port from config

volumes:
  mongod_data:
  mongot_data:

networks:
  search-community-network:
    name: search-community-network
    # external: true # Use an external network if it exists. Comment this line if you want to create a new network.
